*.iml
*.ipr
*.iws
.idea/
bin/
target/
/conf/
nbproject/
nbactions.xml
nb-configuration.xml

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
#*.properties
local.properties
.classpath
.settings/
.loadpath
api/app.output_IS_UNDEFINED/
deploy/tomcat/
deploy/conf/
deploy/target/
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

.DS_Store
*.o

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

.*.sw[a-z]
*.un~
Session.vim
deploy
build
